{% extends 'base.html' %}
{% block content %}
    {% load static %}

    <div class="container h-100">
        <div class="row text-center align-items-center h-100 ">
            <div class="col-12 mx-auto">
                <div class="mt-4">
                    <div class="text-center p-2">

                        <h5></h5>
                    </div>
                </div>
            </div>
            <div class="content-card mx-auto">
                <div class="col-12 mx-auto">
                    <div class="mt-4">
                        <div class="text-center p-2">
                            <h1 class="theme-color" style="font-size: 55px">Inventory Management System</h1>
                            <h2 class="theme-color" style="font-size: 35px">Team Members</h2>
                            <div class="col-lg-12 center team-menbers">
                                <h3 class="m-1">Saikiran</h3>
                                <h3 class="m-1">Neelima</h3>
                                <h3 class="m-1">Muneera</h3>
                                <h3 class="m-1">Pratyusha</h3>
                                <h3 class="m-1">Swetha</h3>
                                <h3 class="m-1">Nikhil</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>


{% endblock %}