{% extends 'base.html' %}
{% block content %}
    <div class="user-list-card" style="max-width: 1200px; margin: auto;">
        <div class="mt-4">
            <div class="text-center p-3">
                <h2 class="theme-color">Admin Dashboard</h2>
            </div>
        </div>

        <div class="container">
            <table>

                <tr>
                    <td><strong>First Name</strong></td>
                    <td>{{ f_name }}</td>
                </tr>
                <tr>
                    <td><strong>Last Name</strong></td>
                    <td>{{ l_name }}</td>
                </tr>
                <tr>
                    <td><strong>Email</strong></td>
                    <td>{{ email }}</td>
                </tr>
            </table>
            <div class="row my-4">

                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3"
                            onclick="location.href='{% url 'dashboard:add_products' %}'">
                        <i class="fa-solid fa-pen-to-square pr-3" style="color: #ffffff;"></i> Add Products
                    </button>
                </div>

                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3"
                            onclick="location.href='{% url 'dashboard:search_available_products' %}'">
                        <i class="fas fa-search pr-3"></i> Search Products
                    </button>
                </div>

                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3"
                            onclick="location.href='{% url 'dashboard:view_available_products' %}'">
                        <i class="fa-solid fa-store pr-3" style="color: #ffffff;"></i> View All Products
                    </button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3"
                            onclick="location.href='{% url 'dashboard:user_profile' %}'">
                        <i class="fa-solid fa-user pr-3" style="color: #ffffff;"></i> Profiles
                    </button>
                </div>
            </div>

            <div class="row my-4">
                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3"
                            onclick="location.href='{% url 'dashboard:product_list' %}'">
                        <i class="fa-solid fa-gear pr-3" style="color: #ffffff;"></i> Alter Products
                    </button>
                </div>

                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3"
                            onclick="location.href='{% url 'dashboard:view_sold_products' %}'">
                        <i class="fa-solid fa-cash-register pr-3" style="color: #ffffff;"></i> View Sold Products
                    </button>
                </div>

                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3" onclick="location.href='{% url 'dashboard:users' %}'">
                        <i class="fas fa-user-shield pr-3"></i> Users
                    </button>
                </div>
                <div class="col-sm">
                    <button class="btn btn-block action-btn p-3"
                            onclick="location.href='{% url 'dashboard:remove_user' %}'">
                        <i class="fa-solid fa-user-minus pr-3" style="color: #ffffff;"></i>
                        Remove User
                    </button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}