{% extends 'dashboard/base.html' %}
{% block dashboardcontent %}
    <div class="content-card mx-auto">
        <table>
            <thead>
            <tr>
                <th>Sr no.</th>
                <th>Product ID</th>
                <th>Product Name</th>
                <th>Product Price</th>
                <th>Quantity</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ product.id }}</td>
                    <td>{{ product.product_name }}</td>
                    <td>{{ product.product_price }}</td>
                    <td>{{ product.product_quantity }}</td>
                    <td>
                        <a href="{% url 'dashboard:update_product' product.id %}" class="btn btn-warning"
                           style="color:#fff">Update</a>
                        <a href="{% url 'dashboard:delete_product' product.id %}" class="btn btn-danger">Delete</a>

                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
